<!DOCTYPE html>
<html>
  <head>
    <title>Weather App - About</title>
    <link rel="stylesheet" href="./css/styles.css"></style>
  </head>
  <body>
    {{>header}}
    <div class="main-content"></div>
    {{>footer}}
  </body>
</html>