<!DOCTYPE html>
<html>
  <head>
    <title>Weather App - Not Found</title>
    <link rel="stylesheet" href="./css/styles.css"></style>
  </head>
  <body>
    {{>header}}
    <div class="main-content">
      <h2>No page founded. Please, click on one of the links above to keep navegating.</h2>
    </div>
    {{>footer}}
  </body>
</html>